<%= form_for @link do |x| %>
  <%= x.text_field(:name) %>
  <%= x.label(:name) %>
  <%= x.text_field(:url) %>
  <%= x.label(:url) %>
  <ul>
    <% @categories.each do |category| %>
      <li>
        <!-- radio_button(object_name, method, tag_value, options={}) -->
        <%= x.radio_button :category_id, category.id %>
        <%= x.label :category_id, "#{category.name}" %>
      </li>
    <% end %>
  </ul>
  <%= x.submit("Submit") %>
<% end %>
