<div class="container">
  <div class="header">
    <div class="header_item" style="margin-left: 2%">
      <%= link_to "Back to Start", root_path %>
    </div>
    <div class="header_item">
      <h1><%= @category.name %></h1>
    </div>
    <div class="header_item" style="margin-right: 2%">
      <%= link_to "Add a New Link", new_link_path %>
    </div>
  </div>

  <div class="content_div">
    <div class="content">
      <ul style="columns: <%= @links_columns_count %>">
        <% @category.links.each do |link| %>
          <li>
            <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
            <%= link_to image_tag("edit.svg", class: "edit-icon"), edit_link_path(link.id) %>
            <%= link_to image_tag("trash.png", class: "trash-icon"), link_path(link.id), method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



