<%= link_to image_tag("star.svg", width: 50), root_path %>

<h1><%= @category.name %></h1>

<ul>
  <% @category.links.each do |link| %>
    <li>
      <a href="<%= link.url %>" target="_blank"><%= link.name.capitalize %></a>
      <%= link_to "edit", edit_link_path(link.id) %>
      <%= link_to "delete", link_path(link.id), method: :delete %>
    </li>
  <% end %>
</ul>
